// Primary color
$color-primary-orange: hsl(25, 97%, 53%);
// Neutral color
$color-white: hsl(0, 0%, 100%);
$color-neutral-lightgrey: hsl(217, 12%, 63%);
$color-neutral-mediumgrey: hsl(216, 12%, 54%);
$color-neutral-darkblue: hsl(213, 19%, 18%);
$color-neutral-darerkblue: hsl(233, 20%, 18%);
$color-neutral-verydarkblue: hsl(216, 12%, 8%);
